<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Main Page Bank</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Cadastros:</h1>
    <h3>Para cadastrar clientes <a href="clientes/novo">Clique aqui</a></h3>
    <h3>Para cadastrar funcionarios <a href="funcionarios/novo">Clique aqui</a></h3>
    <br><br>
    <h3>Para apresentar a lista de clientes <a href="clientes">Clique aqui</a></h3>
    <h3>Para apresentar a lista de funcionarios <a href="funcionarios">Clique aqui</a></h3>
</body>
</html>